<div class="container text-center">
    <h1>About Page</h1>
    <p>We are DevMatch. Our company focuses on creating an exclusive comunity
    for developers and entrepreneurs to meet. Lorem ipsum dolor sit amet, 
    consectetur adipisicing elit. Autem quos quas, reiciendis officiis 
    accusantium corporis repellat ab exercitationem quae nemo. Libero eum dicta 
    sint id vero, officia, ad facere expedita!</p>
</div>